#wall {
    background: url('../images/new-wall.jpg') no-repeat center;
    background-size: cover;
    background-color: brown;
}

#wall .tag-1 {
    display: none;
    z-index: -1;
  }
  
  #wall #tag-2 {
    display: none;
    z-index: -1;
  }
  
  #wall #tag-3 {
    display: none;
  }
  
  #wall #tag-4 {
    display: none;
  }
  
  #wall #tag-5 {
    display: none;
    visibility: hidden
  }
  
  #wall #tag-6 {
    display: none;
    z-index: -1
  }
  
  #wall #tag-7 {
    display: none;
    visibility: hidden;
  }
  
